$bg_color: #F7EBDA;

//***** COULEURS DES ÉLEMENTS *****//
$primary_color: #96211C;
$secondary_color: #821C18;
$tertiary_color: #1C0605;
$color_gradient: linear-gradient(32deg,rgba(130, 28, 24, 1) 0%, rgba(28, 6, 5, 1) 50%);
$color_action: #FF3C2E;
$color_active: #FF6A5F;

//***** COULEURS DES TEXTES *****//
$dark_text: #1E1E1E;
$light_text: #F7EBDA;